{% extends "_layouts/cp" %}

{% set title = "Password Routes"|t('app') %}
{% set fullPageForm = true %}
{% import "_includes/forms" as forms %}


{% block content %}
    <input type="hidden" name="action" value="passwordroutes/routes/save-route">
    {{ redirectInput('passwordroutes') }}

    {% if route.id %}<input type="hidden" name="routeId" value="{{ route.id }}">{% endif %}

    {{ forms.textField({
        label: "Uri"|t('app'),
        instructions: "The uri route that will be password protected"|t('app'),
        id: 'uri',
        class: 'code',
        name: 'uri',
        placeholder: '/example/uri',
        value: route.uri,
        errors: route.getErrors('uri'),
        required: true
    }) }}

    {{ forms.textField({
        label: "Username"|t('app'),
        id: 'username',
        name: 'username',
        value: route.username,
        errors: route.getErrors('username'),
        required: true
    }) }}

    {{ forms.textField({
        label: "Password"|t('app'),
        id: 'password',
        type: 'password',
        name: 'password',
        value: route.password,
        errors: route.getErrors('password'),
        required: true
    }) }}
{% endblock %}

